@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.head-container {
    background-color: black;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    color: aliceblue;
    font-size: large;
}

.logo {
    width: 180px;  
}

.menu-container {
    background-color: whitesmoke;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;   
    background-color: rgb(21, 20, 20);
    color:  whitesmoke;
}

.menu-container > p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-container > p:hover {
    border-bottom: 3px rgb(227, 149, 6) solid;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 50px 0 50px;
    color: aliceblue;
}

.content {
    background-color: black;
    height: 400px;
    width: 40vw;
    float: left;
    display: flex;   
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;
    margin-right: 20px;
    font-size: large;
}

.content-home {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.content-services { 
    display: none; 
    justify-content: center;
    text-align: justify;
}

.content-about {
    display: none;
    justify-content: center;
    text-align: justify;
}

.content-contact{
    display: none;
    justify-content: center;
    text-align: justify;
}

/*Carousel start*/

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 450px;
    max-width: 450px;
    width: 40vw;
    float: right;
    margin-top: 10px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    transition: transform 0.3 linear;
    transform: translateX(0); 
}

.image-container > img {
    object-fit: cover;
    height: 700px;
    width: 700px;
}
/*Carousel end*/

.about-container {
    background-color:  rgb(126, 84, 6);
    width: 100vw;
    height: 50px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;    
    position: fixed;
    bottom: 1px;
    font-size: small;
}

.logo-bottom {
    cursor: pointer;
}

.about-container:hover {
    background-color: rgb(227, 149, 6);
}


@media screen and (max-width: 420px) {
    .head-container {
        flex-direction: column;
        height: 220px;
        gap: 0px;
        margin-bottom: 5px;
    }
    .head-container-town, .about-container-second {
        display: none;
    }
    .logo {
        width: 160px;  
    }
    .menu-container {
        width: 100vw;
        height: 30px;
        gap: 20px;   
    }
    .about-container {
        gap: 0vw;
        font-size: small;
        flex-direction: column;
        justify-content: center;
    }
    .main {
        flex-direction: column;
        padding: 0px 0px 0 0px;
    }
    .content {
        height: fit-content;
        width: 95vw;
        float: none;
        gap: 0px;
        font-size: small;
        padding: 10px 0px 10px 0px;
        margin-right: 0px;
        align-items: center;
    }
    .carousel {
        height: 150px;
        width: 95vw;
        float: none;
        margin-top: 10px;
    }  
    .logo-bottom {
        display: none;
    }
}

@media screen and (max-width: 920px) and (min-width: 421px) {
    .head-container {
        flex-direction: column;
        height: 200px;
        gap: 0px;
        margin-bottom: 5px;
    }
    .head-container-town, .about-container-second {
        display: none;
    }
    .logo {
        width: 160px;  
    }
    .menu-container {
        width: 100vw;
        height: 30px;
        gap: 20px;  
    }
    .about-container {
        gap: 0vw;
        font-size: small;
        flex-direction: column;
        justify-content: center;
    }
    .main {
        flex-direction: column;
        padding: 0px 0px 0px 0px;
    }
    .content {
        min-height: fit-content;
        width: 95vw;
        float: none;
        gap: 0px;
        font-size: large;
        padding: 10px 0px 10px 0px;
        margin-right: 0px;
        align-items: center;
    } 
    .carousel {
        height: 400px;
        width: 95vw;
        float: none;
        margin-top: 10px;
    }  
    .logo-bottom {
        display: none;
    }
  }

  @media screen and (min-width: 1700px) {
    .content {
        height: 700px;
        font-size: x-large;
    }
    
    .carousel {
        height: 700px;
        max-width: 700px;
    }
  }